@media (min-width: 320px) and (max-width: 575px){
    #myCustomNav ul li a {
        color: #bc2828;
    } 
}
@media (min-width: 768px) and (max-width: 991px){
    #banner {
        height: 400px;
       
    }
    #banner .row {
        height: 400px;
    }
    #banner .banner_cnt h3 {
        font-size: 30px;
        
    }
}

@media (min-width: 320px) and (max-width: 575px){

    #banner {
        height: 300px;
       
    }
    #banner .row {
        height: 300px;
    }
    #banner .banner_cnt h3 {
        font-size: 20px;
        
    }

}

@media (min-width: 320px) and (max-width: 575px){
    #about .row {
        height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #services {
        height: 400px;
    }
}

    